/target/
/build/

*.log
logs/

*.jar
*.war
*.class

*.iml
.idea/
out/

.project
.classpath
.settings/

.vscode/

.mvn/
!mvnw
!mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

application-secret.yml
application-secret.properties

.env
